<div class="top">
    <div id="x">
        <a class="fr" href="">
            <img class="logo" src="assets/logo.gif">
        </a>
        <a class="title" href="">Hacker News</a>
    </div>

    <div class="links">
        <a class="new">new</a>
        <span class="sep">|</span>

        <a class="past">past</a>
        <span class="sep">|</span>

        <a class="comments">comments</a>
        <span class="sep">|</span>

        <a class="ask">ask</a>
        <span class="sep">|</span>

        <a class="show">show</a>
        <span class="sep">|</span>

        <a class="jobs">jobs</a>
        <span class="sep">|</span>

        <a class="submit">submit</a>
    </div>

    <span class="login">login</span>
    

</div>